@tailwind base;

:root {
  --primary: rgb(24, 38, 58);
  --secondary: rgb(80, 100, 136);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

@layer base {
  .formsPage {
    @apply w-screen h-screen flex flex-col justify-center items-center space-y-3;
  }

  .formsContainer {
    @apply text-center bg-cyan-700 rounded-2xl px-6 py-4;
  }

  .formsContainer h1 {
    @apply text-6xl my-5;
  }

  .formsContainerContent {
    @apply text-2xl space-y-3 flex flex-col font-semibold;
  }

  .formsContainerContent button {
    @apply bg-blue-700 text-white py-1 px-4 w-fit mx-auto rounded-2xl hover:scale-110 transition;
  }

  .loginResetLink {
    @apply my-3 text-xl hover:underline hover:text-white w-fit m-auto;
  }

  .authLinkContent {
    @apply text-xl text-slate-200;
  }

  .authLink {
    @apply hover:underline hover:text-blue-500;
  }

  .hubPage h1 {
    @apply text-center text-6xl font-semibold text-white my-4;
  }
}
